.content{
   
    z-index: 5;
    color: white;
    overflow: hidden;

}
.content-item{
    width: 100%;
    transition: .2s ease-in-out;

}
.watch-btn{
    background-color:white;
    filter: brightness(100%);
    padding: 5px 16px;
    margin: 5px 10px;
    border-radius: 5px;
    transition: .2s ease-in;
}

.watch-btn:hover{
    transform:scale(1.06);
}
.watch-btn span{
    background-color:transparent;
    color:black;
    padding: 1px 5px;
}
.pluswatch{
    background-color:transparent;
    color:black;
    transform: translateY(-3px);
}
.content img{
    height:80vh;
    width: 50%;
}
video{
    height:90vh;
    width:100%;
}
.video-back{
    width: 20px;
    height:30px;
    background-color: transparent;
    color: white;
    position:fixed;
    top: 20px;z-index: 7;

    left: 10px;
}
.content-item{
    margin-top:10px;
    display: flex;
    gap: 4px;

}
.content-item strong{
    color:red;
    margin: 0 10px;
}
@media screen and (max-width:1024px){
    .watch-btn{
        display:block;
    }
}
@media screen and (max-width:700px){
    video{
        height:50vh;
    }

}

@media screen and (max-width:500px){
    video{
        height:40vh;
    }

}